<div class="item">
    <div>
        Avatar URL
    </div>
    <div>
        <input type="url" name="avatar_url" id="" placeholder="https://" value="{{instructor.avatar_url}}">
    </div>
</div>

<div class="item">
    <div>
        Instrutor
    </div>
    <div>
        <input type="text" name="name" placeholder="Nome do instrutor" value="{{instructor.name}}">
    </div>
</div>